<div class="row">
  <div class="col-md-6">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Calorie Tracker</h5>
    <a routerLink="/CalorieTracker" class="btn btn-primary">Track</a>
  </div>
</div>
  </div>
<div class="col-md-6">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Water Tracker</h5>
      <a routerLink="/waterTracker" class="btn btn-primary">Track</a>
    </div>
  </div>
</div>
</div>

